<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Forgot Password</title>
</head>
<body>
	<section>
		<div class="container forget-password ">
			<div class="row">
				<div class="col-md-12 col-md-offset-4 ">
					<div class="panel panel-default ">
						<div class="panel-body back">
							<div class="text-center">

								<!--Show Message -->
								<div th:if="${session.message}"
									th:classappend="${session.message.type}" class="alert p-0"
									role="alert">
									<P th:text="${session.message.content}"></P>

									<th:block th:text="${#session.removeAttribute('message')}"></th:block>


								</div>
								<!--Show Message End-->


								<img th:src="@{images/forgotpassword.png}" alt="car-key"
									border="0">
								<h2 class="text-center">Forgot Password?</h2>
								
								<form id="register-form" role="form"
									th:action="@{/processForgot}" autocomplete="off" class="form"
									method="post">
									<div class="form-group">

										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-envelope color-blue"></i></span> <input
													id="forgetAnswer" name="email" required="required"
													placeholder="Enter your username" class="form-control"
													type="email">
											</div>
										</div>

										<div class="input-group">
											<select class="form-control" id="sel1" name="question" required="required">
												<option selected="true" disabled="disabled">Please
													Select Security Question</option>
												<option>Which is your favorite movie?</option>
												<option>What is your pet's name?</option>
												<option>What is the name of your village?</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-envelope color-blue"></i></span> <input
												id="forgetAnswer" name="answer" placeholder="Answer"
												class="form-control" type="text" required="required">
										</div>
									</div>
									<div class="form-group">
										<input name="btnForget"
											class="btn btn-lg btn-primary btn-block btnForget"
											value="Reset Password" type="submit">
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>